<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <META name="keywords" content= "<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/blog_nav' %>
    </div>


    <main role="main" class="container nav-space">
      <div class="row">
        <div class="col-md-8 blog-main">
          <%= link_to 'New Blog', new_blog_path  if logged_in?(:site_admin) %>
          <%= yield %>
        </div>
        <%= render 'shared/blog_sidebar' %>
      </div>
    </main>

    <%= render 'shared/blog_footer' %>

    <%= alerts %>


    <%= source_helper %>
    
  </body>
</html>